<%= link_to 'New Post', new_post_path, class: "btn btn-success" %>

<div class="page-header"> 
  <h1> Posts </h1>
</div>

<% @posts.each do |post| %>

  <div class="post">
    <strong> <%= post.user.nick %></strong>
    <p><%= post.contenido %></p>
    <div> 
      <%= link_to 'Show', post,  class: "btn btn-info"  %>
      <span class="admin">
        <%= link_to 'Edit', edit_post_path(post),  class: "btn btn-success"  %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger" %>
      </span>
    </div>
  </div>

<% end %>
