<% if user_signed_in? %>
  <div class="page-header"> 
    <div class="row">
      <div class="col-lg-3">
        <h3>Your profile</h3>
      </div>
      <div class="col-lg-6">
        <h3>Timeline</h3>
      </div>
      <div class="col-lg-3">
        <h3>Notifications & Friends</h3>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-3">
      <div class="row">
        <% if current_user.avatar.url.present? %>
          <%= image_tag(current_user.avatar.url, class: "round-image-200" )%>
        <% else %>
          <%= image_tag('noavatar.png', class: "round-image-200" )%>
        <% end %>
        <!--AQUI PONER IMAGEN DE PERFIL -->
      </div>
      <div class="row">
        <h3><%= link_to current_user.name + " " + current_user.last_name, current_user %><h3>
        <h4><%= "@" + current_user.nick %><h4>
      </div>
    </div>
    <div class="col-lg-6">
      <%= link_to 'New Post', new_post_path, class: "btn btn-success" %>
      </br>
      </br>
      <% if !current_user.has_role? :admin %>

        <% @posts = current_user.getPosts2 %>
        <!--% @posts = Post.order(created_at: :desc) %-->

        <% @posts.each do |post| %>

          <div class="post">
            <% if post.user.avatar.url.present? %>
              <%= image_tag(post.user.avatar.url, class: "round-image-50" )%>
            <% else %>
              <%= image_tag('noavatar.png', class: "round-image-50") %>
            <% end %>
            <strong><%= link_to post.user.name + " " + post.user.last_name, post.user %></strong>
            <strong> <%= "  @" + post.user.nick %></strong>
            <%= link_to time_ago_in_words(post.created_at), post_path(post)%>
            <p><%= post.contenido %></p>
            <div> 
              <% @images = post.post_attachments.all %>
              <% @images.each do |i| %>
                <%= image_tag(i.avatar_url, class: "post-image-index" ) %>
              <% end %>
            </div>

            </br>
            <div>
              <%= link_to 'Like', like_post_path(:post => post),  :class => "btn btn-primary", method: :post %>
              <%= link_to 'Disike', dislike_post_path(:post => post),  :class => "btn btn-primary", method: :post %>
            </div>
            <div>
              <%= "Liked by " + post.get_likes.size.to_s + " people" %>
            </div>
             <div>
              <%= "Disliked by " + post.get_dislikes.size.to_s + " people" %>
            </div>

            <div>
              <%= link_to 'Show', post,  class: "btn btn-info"  %>
              <span class="admin">
                <% if current_user == post.user %>
                  <%= link_to 'Edit', edit_post_path(post),  class: "btn btn-success"  %>
                  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger" %>
                <% end %>
              </span>
            </div>
            
            </br>
            
          </div>

        <% end %>

      <% else %>
        <% @posts = Post.order(created_at: :desc) %>
        <% @posts.each do |post| %>
          <div class="post">
            <% if post.user.avatar.url.present? %>
              <%= image_tag(post.user.avatar.url, class: "round-image-50" )%>
            <% else %>
              <%= image_tag('noavatar.png', class: "round-image-50") %>
            <% end %>
            <strong><%= link_to post.user.name + " " + post.user.last_name, post.user %></strong>
            <strong> <%= "  @" + post.user.nick %></strong>
            <%= link_to time_ago_in_words(post.created_at), post_path(post)%>
            <p><%= post.contenido %></p>
            <div> 
              <% @images = post.post_attachments.all %>
              <% @images.each do |i| %>
                <%= image_tag(i.avatar_url, class: "post-image-index" ) %>
              <% end %>
            </div>

            </br>
            <div>
              <%= "Liked by " + post.votes_for.size.to_s + " people" %>
            </div>

            <div>
              <%= link_to 'Show', post,  class: "btn btn-info"  %>
              <span class="admin">
                <%= link_to 'Edit', edit_post_path(post),  class: "btn btn-success"  %>
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger" %>
              </span>
            </div>
          </div>

        <% end %>

      <% end %>
    </div>

    <div class="col-lg-3">
      <% if Notification.where(:user_id => current_user.id, :read => false).any? %>
        <strong>You have at least new notifications!</strong>
      <% else %>
        <%= "See your notifications" %>
      <% end %>

      <%= button_to 'Notifications', interactions_path,  :class => "btn btn-success", :method => :get %>
      </br>

      <% if current_user.requested_friends.any? %>
        <strong>You have at least one friendship request!</strong>
      <% else %>
        <%= "Manage your friendships" %>
      <% end %>
      <%= button_to 'Friends', friend_path,  :class => "btn btn-success", :method => :get %>
    </div>

<% else %>
  <div class="jumbotron">
    <div class="container">
      <p>First you have to log in!</p>
      <%= button_to "Log in", login_path, :class => "btn btn-primary btn-lg active", :method => :get %>
      <p>Is your fist time in this application?</p>
      <%= button_to "Sign up", signup_path, :class => "btn btn-primary btn-lg active", :method => :get %>
    </div>
  </div>
<% end %>

<script>
  $('.post').hover(function(){$(this).toggleClass('post_hover');});
</script>